jax[cuda12]==0.8.0
diffrax==0.7.0
h5py==3.14.0
equinox==0.13.2
tqdm==4.67.1 

# For profiling
# tensorboard==2.20.0
# tensorboard_plugin_profile==2.20.6
# xprof==2.20.6

# For checking data
# hdf5view==0.2.6