jax==0.7.2
jax[cuda12]==0.7.2
matplotlib==3.10.1
diffrax==0.7.0
#meson==1.7.2
#tqdm==4.67.1
#h5py==3.14.0
equinox==0.13.2
optimistix==0.0.10

# For profiling
tensorboard==2.20.0
tensorboard_plugin_profile==2.20.6
xprof==2.20.6